.material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px !important;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    object-fit: cover;
}

* {
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.layout {   
    display: flex;
    flex-direction: column;
    margin: 10px 50px 50px 50px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

.header-layout {
    display: flex;
    background-color: rgba(240, 240, 240, 0.815);
}

.profile-image {  /* is flex neeeded? */
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    margin-left: auto;
}
.profile-image img{   /* Not responsive*/
    /* max-height: 100%;
    aspect-ratio: 1px/1px; */  /* not working */
    height: 180px;
    width: 180px; 
    border-radius: 50%;
    object-fit: cover;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    letter-spacing: 20px;
    color: gray;
    padding-bottom: 10px;
}
.titles h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: calc(80rem/20);
    font-style: italic;
    border-radius: 10px;
}
.titles h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: calc(30rem/20);
}

.body-layout {    
    font-family: sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.74);
    font-weight: normal;
    text-decoration: none;
}

.blocks {
    padding: 10px 30px;
}

li {
    padding-left: 20px;
    padding-bottom: 8px;
    list-style-type: square;
}

.topic {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(25rem/20);
    font-weight:300;
    letter-spacing: 5px;
    color: gray;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.topic hr {
    width: 70%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.body-layout{
    display: flex;
    justify-content: space-evenly;
}

.body-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
}

.body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 65%;
}

/* .contact :
    i () */

.contact i {
    padding-bottom: 15px;
    font-weight: normal;
    /* width: 20rem; */
    text-overflow: ellipsis;
}
.contact span, .contact a, .contact div span, .contact div a{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.contact div {
    display:flex; 
    padding-bottom: 10px;
}
.contact .topic {
    display: flex;
    flex-direction: column;
}
.contact i a {
    text-overflow: ellipsis;
}

.education-block {
    display: flex;
    flex-direction: column;
}
.education-details div {
    padding-bottom: 5px;
    padding-left: 10px;
}
.degree{
    color: grey;
}
.grade {
    color: grey;
    display: flex;
    justify-content: space-around;
}
.grade-num {
    text-align: right;
}
.university {
    display: flex;
    font-style: italic;
    margin-bottom: 20px;
}

.year {
    text-align: right;
}

#skills-id input[type=range] , #div-values input[type=range]
{
    -webkit-appearance: none;
    background: #6D7B8D;
    appearance: none;
    height: 0.3rem;
    border-radius: 999em;
    width: 80%;
    margin: 0 10% 0 10%;
}

.sub-block-title {
    font-weight: bold;
}
.meta-data{
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(143, 143, 143);
    display: flex;
    justify-content: space-around;
}
.content-summary {
    padding-bottom: 15px;
}


@media only screen and (min-width: 701px) {
    .profile-block , .work-block {
        border-width: 1px;
        border-left-style: solid;
        border-image: 
            linear-gradient(
            to bottom, 
            rgb(27, 1, 1), 
            rgba(0, 0, 0, 0)
            ) 1 100%; 
    }
}

@media only screen and (max-width: 700px) {
    * {
        font-size: 17px;
    }
    .contact i {
        padding-bottom: 7px;
    }
    .contact .icons {
        padding-bottom: 0px;
    }
    li {
        padding-bottom: 5px;
    }
    .topic{
        padding-bottom: 15px;
    }
    .layout {
        margin: 10px 10px;
    }
    .blocks{
        padding: 10px 20px;
    }
    .titles {
        padding-left: 0px;
        text-align: center;
    }
    .profile-image{
        margin-left: 0px;
        padding-right: 0px;
        justify-content: center;
        margin: 20px 0px;
    }
    .header-layout {
        display: flex;
        flex-direction: column;
    }
    .body-layout {
        display: flex;
        flex-direction: column;
    }
    .titles {
        padding: 0px;
        letter-spacing: 20px;
        color: gray;
    }
    .body-left , .body-right{
        width: 100%;
    }
    .university{
        margin-bottom: 10px;
    }
} 
 





